www/jade/about-us.jade
doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.about-us-page
        div.parallax-aboutus
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Nuestra empresa
      div.container.main-margin-top-bottom
        div.row
          div.col-8.p-3
            h3.text-blue.text-font-light.uppercase.mb-2 ¿Quiénes somos?
            p.sentence-regular  Institución que, desde 2007, inicia actividades para la capacitación, asesoría y consultoría, en áreas de administración, mercadotecnia, finanzas y ventas. 
            p.sentence-regular Nuestro propósito principal es la profesionalización de los participantes, en los distintos Diplomados, Seminarios y Cursos.
            p.sentence-regular Talleres que gestionamos, con contenidos y metodologías avanzadas a los requerimientos de las empresas y negocios actuales. 
            h5.text-font-bold Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los proyectos de clientes para que se materialicen. 
            p.sentence-regular Ofrecemos valores agregados a cada programa, mediante seguimiento a los proyectos que los participantes realizan en base a los temas manejados, como requisito indispensable, para determinar la aplicación y aprovechamiento del programa.
          div.col-4.p-3
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/meeting.jpg')
        div.row
          div.col-6.p-3
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/mision.jpg')
          div.col-6.p-3.d-flex
            div
              h3.text-blue.text-font-light.uppercase.mb-2 Misión
              p.sentence-regular  Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.
              p.sentence-regular Buscamos la actualización constante de métodos para la enseñanza-aprendizaje, y que nuestros instructores y capacitadores lo transmitan y se logren aplicar mejores estrategias, tácticas y controles en la optimización de resultados individuales y para los negocios.
        div.row
          div.col-4.p-3.d-flex
            div
              h3.text-blue.text-font-light.uppercase.mb-2 Visión
              p.sentence-regular.text-left Ser la mejor alternativa en capacitación, asesoría y consultoría en áreas financiera, mercadológica y comercial, a nivel nacional e internacional.
          div.col-8.p-3
            img.rounded.box-shadow.img-fluid.mx-auto.d-block(src='www/public/images/vision.jpg')
    
    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade

about-us.html
<!DOCTYPE HTML>
<html lang="es">
  <head>
    <title>ESPROVEN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="www/public/css/main.min.css">
    <link rel="stylesheet" href="www/compnents/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="www/compnents/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="www/public/images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="http://esproven.com.mx/favicon.png">
  </head>
  <body>
    <div id="appesproven">
      <div class="container">
        <nav class="navbar navbar-expand-lg fixed-top main-menu"><a href="/" class="navbar-brand"><img src="www/public/images/logo-lx.png" class="img-fluid"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li v-for="item in menuitems" class="nav-item active"><a :href="item.url" class="nav-link">{{ item.text }} </a></li>
            </ul>
            <ul class="navbar-nav mr-auto navbar-right">
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-facebook fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-twitter fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-instagram fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-linkedin fa-sm"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="about-us-page">
        <div class="parallax-aboutus">
          <h1 class="text-white text-center text-font-bold uppercase text-shadow">Nuestra empresa</h1>
        </div>
      </div>
      <div class="container main-margin-top-bottom">
        <div class="row">
          <div class="col-8 p-3">
            <h3 class="text-blue text-font-light uppercase mb-2">¿Quiénes somos?</h3>
            <p class="sentence-regular"> Institución que, desde 2007, inicia actividades para la capacitación, asesoría y consultoría, en áreas de administración, mercadotecnia, finanzas y ventas. </p>
            <p class="sentence-regular">Nuestro propósito principal es la profesionalización de los participantes, en los distintos Diplomados, Seminarios y Cursos.</p>
            <p class="sentence-regular">Talleres que gestionamos, con contenidos y metodologías avanzadas a los requerimientos de las empresas y negocios actuales. </p>
            <h5 class="text-font-bold">Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los proyectos de clientes para que se materialicen. </h5>
            <p class="sentence-regular">Ofrecemos valores agregados a cada programa, mediante seguimiento a los proyectos que los participantes realizan en base a los temas manejados, como requisito indispensable, para determinar la aplicación y aprovechamiento del programa.</p>
          </div>
          <div class="col-4 p-3"><img src="www/public/images/meeting.jpg" class="rounded box-shadow img-fluid mx-auto d-block"></div>
        </div>
        <div class="row">
          <div class="col-6 p-3"><img src="www/public/images/mision.jpg" class="rounded box-shadow img-fluid mx-auto d-block"></div>
          <div class="col-6 p-3 d-flex">
            <div>
              <h3 class="text-blue text-font-light uppercase mb-2">Misión</h3>
              <p class="sentence-regular"> Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.</p>
              <p class="sentence-regular">Buscamos la actualización constante de métodos para la enseñanza-aprendizaje, y que nuestros instructores y capacitadores lo transmitan y se logren aplicar mejores estrategias, tácticas y controles en la optimización de resultados individuales y para los negocios.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 p-3 d-flex">
            <div>
              <h3 class="text-blue text-font-light uppercase mb-2">Visión</h3>
              <p class="sentence-regular text-left">Ser la mejor alternativa en capacitación, asesoría y consultoría en áreas financiera, mercadológica y comercial, a nivel nacional e internacional.</p>
            </div>
          </div>
          <div class="col-8 p-3"><img src="www/public/images/vision.jpg" class="rounded box-shadow img-fluid mx-auto d-block"></div>
        </div>
      </div>
    </div>
    <div id="customers" class="swiper-container hidden-phone mt-5">
      <h3 class="text-font-light text-center uppercase">Ellos confían en nosotros</h3>
      <div class="swiper-wrapper">
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/AKRON.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/ALBARRAN.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/APS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/ARCORE.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/BEACHSTORE.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/CANIRAC.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/CHOMPYS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/CIMIRH.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/DORMIMUNDO.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/GALSAC.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/GRUPOGUIA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/LAPUEBLITA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/LARUTADELTEQUILA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/MEDIMARCAS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/MUEBLESLOMAALTA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/NAVARANDA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PROCESA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PUEBLOMAGICO.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/NAVARANDA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PROCESA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PUEBLOMAGICO.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/RECINTODELAPAZ.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/REXZACATECAS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/ofertas.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/SURFAX.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/SURTIMEDIK.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/SWIMSTORE.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/tecmon.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/UAD.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/VERDEVALLE.png" class="img-responsive center-block img-bw"></div>
      </div>
    </div>
    <footer>
      <div class="links-section">
        <div class="container">
          <div class="row">
            <div class="col"><img alt="Esproven" src="www/public/images/logo-white-sm.png" class="img-fluid">
              <ul>
                <li><a href="tel: 33 1505 3492"><strong class="text-bold">Tel: </strong> 33 1505 3492</a></li>
              </ul>
            </div>
            <div class="col">
              <h6 class="text-uppercase">Acerca de nosotros</h6>
              <hr>
              <ul>
                <li><a href="/about-us.html">¿Quiénes Somos?</a></li>
                <li><a href="/events.html">Eventos</a></li>
              </ul>
            </div>
            <div class="col">
              <h6 class="text-uppercase">ESPROVEN</h6>
              <hr>
              <ul>
                <li><a href="/contact.html">Contacto</a></li>
                <li><a href="mailto:contacto@esproven.com.mx">contacto@esproven.com.mx</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="social-section">
        <div class="container">
          <div class="row">
            <div class="col icons">
              <h6 class="text-uppercase">Entérate</h6><a href="http://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a><a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a><a href="http://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
            <div class="col">
              <h6 class="text-uppercase">Objetivo.</h6>
              <hr>
              <p class="text-justify">
                Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los 
                proyectos de clientes para que se materialicen.
              </p>
            </div>
            <div class="col">
              <h6 class="text-uppercase">Secciones</h6>
              <hr>
              <ul>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Galer&iacute;a</a></li>
                <li><a href="#">MeOnline</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <p>© 2018 Esproven</p>
            </div>
            <div class="col-md-6 text-right"><a href="www/public/terminos-condiciones.pdf" target="_blank">Terminos y condiciones</a><a href="www/public/aviso-privacidad.pdf" target="_blank">Aviso de privacidad</a><a href="http://meonline.com.mx/" target="_blank">Designed by MeOnline</a></div>
            <div class="col-md-2"><a href="#top" class="gototop flex-center"><i class="fa fa-angle-up fa-2x"></i></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="www/compnents/jquery/dist/jquery.min.js"></script>
    <script src="www/compnents/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="www/compnents/vue/dist/vue.js"></script>
    <script src="www/public/js/main.js"></script>
    <script src="www/public/js/swiper.js"></script>
    <script src="www/public/js/customers.js"></script>
  </body>
</html>
