www/jade/events.jade
doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.events-page
        div.parallax-events
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Eventos
        div.container.p-5
          div.row
            .card-columns
              .card
                img.img-fluid.mx-auto.d-block.cart-img-top(src='www/public/images/junio.jpg')
                .card-body
                  h5.card-title.text-center CURSO – TALLER DE FINANZAS, EN TIEMPOS DE CRISIS
                  p.card-text.text-center
                    | ESTRATEGIAS FINANCIERAS PARA PROTEGER EL NEGOCIO Y SOSTENER SU CRECIMIENTO.
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#moreInfo')
                    | M&aacute;s informaci&oacute;n
      include includes/customers.jade
      include includes/footer.jade


              

      // Modal
    #moreInfo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title.text-center Temar&iacute;o
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p.text-justify El sector privado de nuestro pa&iacute;s, las empresas de todo tamaño hoy en d&iacute;a requieren
              | planear y estar al pendiente de todas las variables y factores pol&iacute;ticos, económicos,
              | sociales, tecnológicos y ecológicos, que están afectando a nuestro pa&iacute;s.
            p.text-justify Ofrecemos un curso – taller en donde se obtendrá la actualización y aplicación de 7 temas
              | que permitirán proteger los riesgos económicos y financieros de su negocio, aumentar sus
              | operaciones y evitar posibles perdidas.
            hr
            ul
              li Obtener y mantener liquidez del negocio
              li Protecci&oacute;n y manejo &oacute;ptimo de activos fijos (propiedades, maquinaria, equipos, veh&iacute;culos, etc.)
              li El financiamiento necesario para crecimiento y conservación del negocio.
              li Maximizaci&oacute;n de ventas.
              li Reducci&oacute;n de costos y gastos.
              li Manejo de resultados.
              li El retorno de inversión adecuado.
            p.text-justify Todos estos temas serán manejados con ejercicios prácticos y reales que podrán ser 
              | fácilmente aplicados a su negocio.
            p.text-justify Ofrecemos un seguimiento y asesor&iacute;a, posterior al curso, a través de internet, para lograr
              | la aplicación y resultados propuestos.
            p.text-center
              strong Duraci&oacute;n 8 horas (martes 8 de junio 2018)            
            p.text-center
              strong Lugar Circulo Ejecutivo           
            p.text-center
              strong Inversi&oacute;n $900.00
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar

    include includes/scripts.jade

events.html
<!DOCTYPE HTML>
<html lang="es">
  <head>
    <title>ESPROVEN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="www/public/css/main.min.css">
    <link rel="stylesheet" href="www/compnents/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="www/compnents/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="www/public/images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="http://esproven.com.mx/favicon.png">
  </head>
  <body>
    <div id="appesproven">
      <div class="container">
        <nav class="navbar navbar-expand-lg fixed-top main-menu"><a href="/" class="navbar-brand"><img src="www/public/images/logo-lx.png" class="img-fluid"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li v-for="item in menuitems" class="nav-item active"><a :href="item.url" class="nav-link">{{ item.text }} </a></li>
            </ul>
            <ul class="navbar-nav mr-auto navbar-right">
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-facebook fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-twitter fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-instagram fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-linkedin fa-sm"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="events-page">
        <div class="parallax-events">
          <h1 class="text-white text-center text-font-bold uppercase text-shadow">Eventos</h1>
        </div>
        <div class="container p-5">
          <div class="row">
            <div class="card-columns">
              <div class="card"><img src="www/public/images/junio.jpg" class="img-fluid mx-auto d-block cart-img-top">
                <div class="card-body">
                  <h5 class="card-title text-center">CURSO – TALLER DE FINANZAS, EN TIEMPOS DE CRISIS</h5>
                  <p class="card-text text-center">ESTRATEGIAS FINANCIERAS PARA PROTEGER EL NEGOCIO Y SOSTENER SU CRECIMIENTO.</p>
                  <button type="button" data-toggle="modal" data-target="#moreInfo" class="btn btn-primary">M&aacute;s informaci&oacute;n</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="customers" class="swiper-container hidden-phone mt-5">
        <h3 class="text-font-light text-center uppercase">Ellos confían en nosotros</h3>
        <div class="swiper-wrapper">
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/AKRON.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/ALBARRAN.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/APS.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/ARCORE.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/BEACHSTORE.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/CANIRAC.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/CHOMPYS.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/CIMIRH.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/DORMIMUNDO.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/GALSAC.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/GRUPOGUIA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/LAPUEBLITA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/LARUTADELTEQUILA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/MEDIMARCAS.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/MUEBLESLOMAALTA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/NAVARANDA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/PROCESA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/PUEBLOMAGICO.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/NAVARANDA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/PROCESA.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/PUEBLOMAGICO.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/RECINTODELAPAZ.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/REXZACATECAS.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/ofertas.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/SURFAX.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/SURTIMEDIK.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/SWIMSTORE.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/tecmon.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/UAD.png" class="img-responsive center-block img-bw"></div>
          <div class="swiper-slide flex-center"><img src="www/public/images/customers/VERDEVALLE.png" class="img-responsive center-block img-bw"></div>
        </div>
      </div>
      <footer>
        <div class="links-section">
          <div class="container">
            <div class="row">
              <div class="col"><img alt="Esproven" src="www/public/images/logo-white-sm.png" class="img-fluid">
                <ul>
                  <li><a href="tel: 33 1505 3492"><strong class="text-bold">Tel: </strong> 33 1505 3492</a></li>
                </ul>
              </div>
              <div class="col">
                <h6 class="text-uppercase">Acerca de nosotros</h6>
                <hr>
                <ul>
                  <li><a href="/about-us.html">¿Quiénes Somos?</a></li>
                  <li><a href="/events.html">Eventos</a></li>
                </ul>
              </div>
              <div class="col">
                <h6 class="text-uppercase">ESPROVEN</h6>
                <hr>
                <ul>
                  <li><a href="/contact.html">Contacto</a></li>
                  <li><a href="mailto:contacto@esproven.com.mx">contacto@esproven.com.mx</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="social-section">
          <div class="container">
            <div class="row">
              <div class="col icons">
                <h6 class="text-uppercase">Entérate</h6><a href="http://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a><a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a><a href="http://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
              </div>
              <div class="col">
                <h6 class="text-uppercase">Objetivo.</h6>
                <hr>
                <p class="text-justify">
                  Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los 
                  proyectos de clientes para que se materialicen.
                </p>
              </div>
              <div class="col">
                <h6 class="text-uppercase">Secciones</h6>
                <hr>
                <ul>
                  <li><a href="#">Programas</a></li>
                  <li><a href="#">Galer&iacute;a</a></li>
                  <li><a href="#">MeOnline</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-footer">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <p>© 2018 Esproven</p>
              </div>
              <div class="col-md-6 text-right"><a href="www/public/terminos-condiciones.pdf" target="_blank">Terminos y condiciones</a><a href="www/public/aviso-privacidad.pdf" target="_blank">Aviso de privacidad</a><a href="http://meonline.com.mx/" target="_blank">Designed by MeOnline</a></div>
              <div class="col-md-2"><a href="#top" class="gototop flex-center"><i class="fa fa-angle-up fa-2x"></i></a></div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Modal-->
    </div>
    <div id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title text-center">Temar&iacute;o</h5>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <p class="text-justify">
              El sector privado de nuestro pa&iacute;s, las empresas de todo tamaño hoy en d&iacute;a requieren
              planear y estar al pendiente de todas las variables y factores pol&iacute;ticos, económicos,
              sociales, tecnológicos y ecológicos, que están afectando a nuestro pa&iacute;s.
            </p>
            <p class="text-justify">
              Ofrecemos un curso – taller en donde se obtendrá la actualización y aplicación de 7 temas
              que permitirán proteger los riesgos económicos y financieros de su negocio, aumentar sus
              operaciones y evitar posibles perdidas.
            </p>
            <hr>
            <ul>
              <li>Obtener y mantener liquidez del negocio</li>
              <li>Protecci&oacute;n y manejo &oacute;ptimo de activos fijos (propiedades, maquinaria, equipos, veh&iacute;culos, etc.)</li>
              <li>El financiamiento necesario para crecimiento y conservación del negocio.</li>
              <li>Maximizaci&oacute;n de ventas.</li>
              <li>Reducci&oacute;n de costos y gastos.</li>
              <li>Manejo de resultados.</li>
              <li>El retorno de inversión adecuado.</li>
            </ul>
            <p class="text-justify">
              Todos estos temas serán manejados con ejercicios prácticos y reales que podrán ser 
              fácilmente aplicados a su negocio.
            </p>
            <p class="text-justify">
              Ofrecemos un seguimiento y asesor&iacute;a, posterior al curso, a través de internet, para lograr
              la aplicación y resultados propuestos.
            </p>
            <p class="text-center"><strong>Duraci&oacute;n 8 horas (martes 8 de junio 2018)            </strong></p>
            <p class="text-center"><strong>Lugar Circulo Ejecutivo           </strong></p>
            <p class="text-center"><strong>Inversi&oacute;n $900.00</strong></p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="www/compnents/jquery/dist/jquery.min.js"></script>
    <script src="www/compnents/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="www/compnents/vue/dist/vue.js"></script>
    <script src="www/public/js/main.js"></script>
    <script src="www/public/js/swiper.js"></script>
    <script src="www/public/js/customers.js"></script>
  </body>
</html>
