www/jade/programs.jade
doctype HTML
html(lang="es")
  include includes/head.jade
  body
    div#appesproven
      include includes/main-menu.jade
      div.programs-page
        div.parallax-programs
          h1.text-white.text-center.text-font-bold.uppercase.text-shadow Programas
        div.container.p-5
          h3.text-center.text-blue.uppercase.m-3 ECONOMÍA, CONTABILIDAD Y FINANZAS
          hr
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración avanzada de compras
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración de Costos            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración y análisis de Riesgo
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración del Capital de Trabajo            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración Financiera
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Auditoría Financiera
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis del Riesgo de negocios
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis de Rentabilidad            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis de Sensibilidad
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis Financiero            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Balanced Scorecard            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Contabilidad aplicada          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Control, evaluación y terminación de proyectos de inversión
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estados Financieros Proyectados            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Evaluación de Proyectos de Inversión
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Financiamiento a Corto y Largo Plazo            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Financiamiento inmobiliario            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas aplicadas a la Mercadotecnia          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas aplicadas a las Ventas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas corporativas        
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas en Épocas de Crisis
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas Estratégicas            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas para no Financieros          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas Públicas          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Instrumentos financieros derivados
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercados Financieros        
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Finanzas en Épocas de Crisis
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center NIIF Y NIC (Análisis, interpretación y aplicación)            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center NIIF para PYMES          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Planeación Estratégica Financiera          
          .row          
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Pronósticos y Presupuestos
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Instrumentos de pago bancarios        
          h3.text-center.text-blue.uppercase.m-3 MERCADOTECNIA Y VENTAS
          hr
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración de la promoción
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración de marcas            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración hotelera
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Branding Estratégico    
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración Financiera
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Comercialización de Productos Turísticos          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias de Marketing
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias Dimensionales en Ventas            
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia de Productos y Servicios
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia Inmobiliaria   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia para no Mercadologos
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia para la alta competitividad          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia Turística
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Neurolingüística   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Plan de Ventas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Mercadotecnia Inmobiliaria   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Posicionamiento y Penetración de Mercados
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Procesos de Comercialización          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Revenue Management
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Sistema comercial y su Entorno   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Sistemas de Inteligencia de Mercados
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Técnicas de Creatividad 
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Turismo sustentable y sostenible
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Ventas Estratégicas          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Negociación efectiva
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Neurolingüística   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Retail
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Manejo de conflictos 
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración del tiempo
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Liderazgo

          h3.text-center.text-blue.uppercase.m-3 PLANEACIÓN Y ADMINISTRACIÓN
          hr
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración por Objetivos
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración del tiempo   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Administración pública
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Análisis ambiental
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Calidad Total
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Control Interno Estratégico
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Desarrollo Humano
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Dirección Estratégica   
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Empowerment y Coaching
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias de Cobranza Efectivas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias de Crecimiento para la Empresa
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias para empresas familiares          
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Habilidades Directivas
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Inteligencia Emocional  
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Pensamiento Estratégico
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Plan de Negocios
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Planeación Estratégica y Operativa
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Estrategias para empresas familiares            
          .row
            .col-md-2.border.rounded.d-flex.p-5.bg-light
              p.text-center Desarrollo de habilidades personales y administrativas

    include includes/customers.jade
    include includes/footer.jade
    include includes/scripts.jade

programs.html
<!DOCTYPE HTML>
<html lang="es">
  <head>
    <title>ESPROVEN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Somos una organización para analizar, desarrollar y aplicar programas modernos de capacitación, asesoría y consultoría para la generación de mejores profesionales, atendiendo las necesidades y expectativas de empresas e individuos, a través de valores éticos y factores claves de éxito.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="www/public/css/main.min.css">
    <link rel="stylesheet" href="www/compnents/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="www/compnents/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="www/public/images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="http://esproven.com.mx/favicon.png">
  </head>
  <body>
    <div id="appesproven">
      <div class="container">
        <nav class="navbar navbar-expand-lg fixed-top main-menu"><a href="/" class="navbar-brand"><img src="www/public/images/logo-lx.png" class="img-fluid"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li v-for="item in menuitems" class="nav-item active"><a :href="item.url" class="nav-link">{{ item.text }} </a></li>
            </ul>
            <ul class="navbar-nav mr-auto navbar-right">
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-facebook fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-twitter fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-instagram fa-sm"></i></a></li>
              <li class="nav-item active"><a href="#" class="nav-link"> <i class="fas fa-linkedin fa-sm"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="programs-page">
        <div class="parallax-programs">
          <h1 class="text-white text-center text-font-bold uppercase text-shadow">Programas</h1>
        </div>
        <div class="container p-5">
          <h3 class="text-center text-blue uppercase m-3">ECONOMÍA, CONTABILIDAD Y FINANZAS</h3>
          <hr>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración avanzada de compras</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración de Costos            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración y análisis de Riesgo</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración del Capital de Trabajo            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración Financiera</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Auditoría Financiera</p>
            </div>
          </div>
          <div class="row">         
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Análisis del Riesgo de negocios</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Análisis de Rentabilidad            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Análisis de Sensibilidad</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Análisis Financiero            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Balanced Scorecard            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Contabilidad aplicada          </p>
            </div>
          </div>
          <div class="row">         
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Control, evaluación y terminación de proyectos de inversión</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estados Financieros Proyectados            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Evaluación de Proyectos de Inversión</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Financiamiento a Corto y Largo Plazo            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Financiamiento inmobiliario            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas aplicadas a la Mercadotecnia          </p>
            </div>
          </div>
          <div class="row">         
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas aplicadas a las Ventas</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas corporativas        </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas en Épocas de Crisis</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas Estratégicas            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas para no Financieros          </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas Públicas          </p>
            </div>
          </div>
          <div class="row">         
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Instrumentos financieros derivados</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercados Financieros        </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Finanzas en Épocas de Crisis</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">NIIF Y NIC (Análisis, interpretación y aplicación)            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">NIIF para PYMES          </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Planeación Estratégica Financiera          </p>
            </div>
          </div>
          <div class="row">         
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Pronósticos y Presupuestos</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Instrumentos de pago bancarios        </p>
            </div>
          </div>
          <h3 class="text-center text-blue uppercase m-3">MERCADOTECNIA Y VENTAS</h3>
          <hr>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración de la promoción</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración de marcas            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración hotelera</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Branding Estratégico    </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración Financiera</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Comercialización de Productos Turísticos          </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estrategias de Marketing</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estrategias Dimensionales en Ventas            </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercadotecnia de Productos y Servicios</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercadotecnia Inmobiliaria   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercadotecnia para no Mercadologos</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercadotecnia para la alta competitividad          </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercadotecnia Turística</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Neurolingüística   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Plan de Ventas</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Mercadotecnia Inmobiliaria   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Posicionamiento y Penetración de Mercados</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Procesos de Comercialización          </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Revenue Management</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Sistema comercial y su Entorno   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Sistemas de Inteligencia de Mercados</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Técnicas de Creatividad </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Turismo sustentable y sostenible</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Ventas Estratégicas          </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Negociación efectiva</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Neurolingüística   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Retail</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Manejo de conflictos </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración del tiempo</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Liderazgo</p>
            </div>
          </div>
          <h3 class="text-center text-blue uppercase m-3">PLANEACIÓN Y ADMINISTRACIÓN</h3>
          <hr>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración por Objetivos</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración del tiempo   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Administración pública</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Análisis ambiental</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Calidad Total</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Control Interno Estratégico</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Desarrollo Humano</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Dirección Estratégica   </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Empowerment y Coaching</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estrategias de Cobranza Efectivas</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estrategias de Crecimiento para la Empresa</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estrategias para empresas familiares          </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Habilidades Directivas</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Inteligencia Emocional  </p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Pensamiento Estratégico</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Plan de Negocios</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Planeación Estratégica y Operativa</p>
            </div>
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Estrategias para empresas familiares            </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 border rounded d-flex p-5 bg-light">
              <p class="text-center">Desarrollo de habilidades personales y administrativas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="customers" class="swiper-container hidden-phone mt-5">
      <h3 class="text-font-light text-center uppercase">Ellos confían en nosotros</h3>
      <div class="swiper-wrapper">
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/AKRON.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/ALBARRAN.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/APS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/ARCORE.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/BEACHSTORE.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/CANIRAC.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/CHOMPYS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/CIMIRH.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/DORMIMUNDO.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/GALSAC.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/GRUPOGUIA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/LAPUEBLITA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/LARUTADELTEQUILA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/MEDIMARCAS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/MUEBLESLOMAALTA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/NAVARANDA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PROCESA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PUEBLOMAGICO.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/NAVARANDA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PROCESA.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/PUEBLOMAGICO.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/RECINTODELAPAZ.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/REXZACATECAS.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/ofertas.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/SURFAX.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/SURTIMEDIK.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/SWIMSTORE.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/tecmon.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/UAD.png" class="img-responsive center-block img-bw"></div>
        <div class="swiper-slide flex-center"><img src="www/public/images/customers/VERDEVALLE.png" class="img-responsive center-block img-bw"></div>
      </div>
    </div>
    <footer>
      <div class="links-section">
        <div class="container">
          <div class="row">
            <div class="col"><img alt="Esproven" src="www/public/images/logo-white-sm.png" class="img-fluid">
              <ul>
                <li><a href="tel: 33 1505 3492"><strong class="text-bold">Tel: </strong> 33 1505 3492</a></li>
              </ul>
            </div>
            <div class="col">
              <h6 class="text-uppercase">Acerca de nosotros</h6>
              <hr>
              <ul>
                <li><a href="/about-us.html">¿Quiénes Somos?</a></li>
                <li><a href="/events.html">Eventos</a></li>
              </ul>
            </div>
            <div class="col">
              <h6 class="text-uppercase">ESPROVEN</h6>
              <hr>
              <ul>
                <li><a href="/contact.html">Contacto</a></li>
                <li><a href="mailto:contacto@esproven.com.mx">contacto@esproven.com.mx</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="social-section">
        <div class="container">
          <div class="row">
            <div class="col icons">
              <h6 class="text-uppercase">Entérate</h6><a href="http://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a><a href="http://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a><a href="http://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
            <div class="col">
              <h6 class="text-uppercase">Objetivo.</h6>
              <hr>
              <p class="text-justify">
                Nuestro principal objetivo es participar e involucrarnos, activamente, en el proceso y desarrollo de los 
                proyectos de clientes para que se materialicen.
              </p>
            </div>
            <div class="col">
              <h6 class="text-uppercase">Secciones</h6>
              <hr>
              <ul>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Galer&iacute;a</a></li>
                <li><a href="#">MeOnline</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <p>© 2018 Esproven</p>
            </div>
            <div class="col-md-6 text-right"><a href="www/public/terminos-condiciones.pdf" target="_blank">Terminos y condiciones</a><a href="www/public/aviso-privacidad.pdf" target="_blank">Aviso de privacidad</a><a href="http://meonline.com.mx/" target="_blank">Designed by MeOnline</a></div>
            <div class="col-md-2"><a href="#top" class="gototop flex-center"><i class="fa fa-angle-up fa-2x"></i></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="www/compnents/jquery/dist/jquery.min.js"></script>
    <script src="www/compnents/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="www/compnents/vue/dist/vue.js"></script>
    <script src="www/public/js/main.js"></script>
    <script src="www/public/js/swiper.js"></script>
    <script src="www/public/js/customers.js"></script>
  </body>
</html>
